table {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

input.row {
  background-color: #7FFFD4;
}

button.save {
  color: blue;
}

button.cancel {
  color: red;
}

button.delete {
  color: orange;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.mat-paginator {
  background-color: transparent;
}

#inputQuery {
  width: 100%;
}

#searchBar {
  display: flex;
  font-size: 15px;
}

#buttonExport {
  display: flex;
  align-items: center;
  font-size: 18px;
}
