<div class="pageContent">
  <div id="searchBar">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <select (change)="selectDataType($event)" matNativeControl required>
        <option value="compound">Compound</option>
        <option value="assay">Assay</option>
      </select>
    </mat-form-field> -->
    <mat-form-field appearance="fill" id="inputQuery">
      <mat-label>Enter a query</mat-label>
      <input matInput [(ngModel)]="filter" type="text"
             placeholder="Ex. Atrazine"
             (keyup)="onFilter(filter)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() &&
                          !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container> -->

      <ng-container matColumnDef="otherNames">
        <th mat-header-cell *matHeaderCellDef>Names</th>
        <td mat-cell *matCellDef="let row">
          <!-- <ng-container *ngIf="!row.isEditing"> -->
            {{row.otherNames}}
          <!-- </ng-container> -->
          <!-- <ng-container *ngIf="row.isEditing">
            <input matInput #updateInput [value]="row.common_names"
                   class="row">
          </ng-container> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="cid">
        <th mat-header-cell *matHeaderCellDef>PubChem CID</th>
        <td mat-cell *matCellDef="let row">{{row.cid}}</td>
      </ng-container>

      <ng-container matColumnDef="cas">
        <th mat-header-cell *matHeaderCellDef>CAS Number</th>
        <td mat-cell *matCellDef="let row">{{row.cas}}</td>
      </ng-container>

      <ng-container matColumnDef="iupac">
        <th mat-header-cell *matHeaderCellDef>IUPAC</th>
        <td mat-cell *matCellDef="let row">{{row.iupac}}</td>
      </ng-container>

      <ng-container matColumnDef="inchiKey">
        <th mat-header-cell *matHeaderCellDef>InChiKey</th>
        <td mat-cell *matCellDef="let row">{{row.inchiKey}}</td>
      </ng-container>

      <ng-container matColumnDef="smiles">
        <th mat-header-cell *matHeaderCellDef>SMILES</th>
        <td mat-cell *matCellDef="let row">{{row.smiles}}</td>
      </ng-container>

      <ng-container matColumnDef="mw">
        <th mat-header-cell *matHeaderCellDef>Molecular Weight</th>
        <td mat-cell *matCellDef="let row">{{row.mw}}</td>
      </ng-container>

      <!-- <ng-container matColumnDef='action'>
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!row.isEditing">
            <button mat-icon-button matTooltip="Click to edit"
                    [disabled]="isEditing" (click)="onEdit(row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="row.isEditing">
            <button mat-icon-button matTooltip="Click to save"
                    (click)="onSave(row)" class="save">Save</button>
            <button mat-icon-button matTooltip="Click to cancel"
                    (click)="onCancel(row)" class="cancel">Cancel</button>
            <button mat-icon-button matTooltip="Click to save"
                    (click)="onDelete(row)"
                    class="delete">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar>
      <mat-toolbar-row>
        <!-- <button mat-raised-button matTooltip="Click to export"
                (click)="onExport()" id="buttonExport">
          <mat-icon title="Export as CSV">save_alt</mat-icon>
          Export .csv
        </button> -->
        <span class="example-spacer"></span>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 200]"
                       showFirstLastButtons></mat-paginator>
        </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
